In [6]:
import pandas as pd
import numpy as np

In [7]:
df=pd.read_csv("deliveries.csv")

In [8]:
df.head()

   match_id  inning  ... dismissal_kind fielder
0         1       1  ...            NaN     NaN
1         1       1  ...            NaN     NaN
2         1       1  ...            NaN     NaN
3         1       1  ...            NaN     NaN
4         1       1  ...            NaN     NaN

[5 rows x 21 columns]

CSKvsSRH

In [9]:
df['batting_team'].unique()

array(['Sunrisers Hyderabad', 'Royal Challengers Bangalore',
       'Mumbai Indians', 'Rising Pune Supergiant', 'Gujarat Lions',
       'Kolkata Knight Riders', 'Kings XI Punjab', 'Delhi Daredevils',
       'Chennai Super Kings', 'Rajasthan Royals', 'Deccan Chargers',
       'Kochi Tuskers Kerala', 'Pune Warriors', 'Rising Pune Supergiants',
       nan], dtype=object)

In [10]:
CSKvsSRH=df[((df['batting_team']=='Sunrisers Hyderabad') & (df['bowling_team']=='Chennai Super Kings') | (df['bowling_team']=='Sunrisers Hyderabad') & (df['batting_team']=='Chennai Super Kings')) ]
CSKvsSRH.head()

       match_id  inning  ... dismissal_kind  fielder
97960       414       1  ...            NaN      NaN
97961       414       1  ...            NaN      NaN
97962       414       1  ...         caught  M Vijay
97963       414       1  ...            NaN      NaN
97964       414       1  ...            NaN      NaN

[5 rows x 21 columns]

wides in csk vs srh matches

In [11]:
wideruns=0
for i in CSKvsSRH['wide_runs']:
  wideruns=wideruns+i

In [16]:
noofmatches=CSKvsSRH['match_id'].nunique()
noofmatches

6

In [12]:
wideruns

38.0

In [17]:
widepermatch=wideruns/noofmatches
widepermatch

6.333333333333333

Davidwarner

In [19]:
CSKvsSRH['batsman'].unique()

array(['Q de Kock', 'GH Vihari', 'S Dhawan', 'CL White', 'A Mishra',
       'X Thalaivan Sargunam', 'DJG Sammy', 'A Ashish Reddy',
       'MEK Hussey', 'M Vijay', 'SK Raina', 'MS Dhoni', 'DJ Bravo',
       'RA Jadeja', 'CH Morris', 'PA Patel', 'KC Sangakkara',
       'NLTC Perera', 'KV Sharma', 'DW Steyn', 'AJ Finch', 'DA Warner',
       'KL Rahul', 'Y Venugopal Rao', 'DR Smith', 'BB McCullum',
       'F du Plessis', 'M Manhas', 'DJ Hussey', 'NV Ojha', 'RS Bopara',
       'KS Williamson', 'Parvez Rasool', 'MC Henriques', 'EJG Morgan',
       'P Negi'], dtype=object)

In [20]:
davidwarner=CSKvsSRH[CSKvsSRH['batsman']=='DA Warner']
davidwarner.head()

        match_id  inning  ... dismissal_kind fielder
112196       474       1  ...            NaN     NaN
112197       474       1  ...            lbw     NaN
120256       507       2  ...            NaN     NaN
120257       507       2  ...            NaN     NaN
120258       507       2  ...            NaN     NaN

[5 rows x 21 columns]

In [22]:
runsscored=0
for i in davidwarner['batsman_runs']:
  runsscored=i+runsscored

In [23]:
matches=davidwarner['match_id'].nunique()
matches

4

In [24]:
avg=runsscored/matches
avg

51.0

CSK wicket analysis

In [25]:
battingcsk=CSKvsSRH[CSKvsSRH['batting_team']=='Chennai Super Kings']
battingcsk.head()

       match_id  inning  ... dismissal_kind fielder
98083       414       2  ...            NaN     NaN
98084       414       2  ...            NaN     NaN
98085       414       2  ...            NaN     NaN
98086       414       2  ...            NaN     NaN
98087       414       2  ...            NaN     NaN

[5 rows x 21 columns]

In [26]:
battingcsk['player_dismissed'].count()

26

In [27]:
battingcsk['match_id'].nunique()

6

In [29]:
dismissalpermatch=26/6
dismissalpermatch

4.333333333333333

Matches

In [30]:
matches=pd.read_csv('matches.csv')
matches.head()

   id  season       city  ...         umpire1        umpire2 umpire3
0   1    2017  Hyderabad  ...     AY Dandekar       NJ Llong     NaN
1   2    2017       Pune  ...  A Nand Kishore         S Ravi     NaN
2   3    2017     Rajkot  ...     Nitin Menon      CK Nandan     NaN
3   4    2017     Indore  ...    AK Chaudhary  C Shamshuddin     NaN
4   5    2017  Bangalore  ...             NaN            NaN     NaN

[5 rows x 18 columns]

In [33]:
CSKvsSRHmatches=matches[((matches['team1']=='Sunrisers Hyderabad') & (matches['team2']=='Chennai Super Kings') | (matches['team2']=='Sunrisers Hyderabad') & (matches['team1']=='Chennai Super Kings')) ]
CSKvsSRHmatches.head()

      id  season       city  ...         umpire1        umpire2 umpire3
413  414    2013    Chennai  ...       Aleem Dar          S Das     NaN
434  435    2013  Hyderabad  ...           S Das       NJ Llong     NaN
473  474    2014    Sharjah  ...    AK Chaudhary    VA Kulkarni     NaN
506  507    2014     Ranchi  ...    BNJ Oxenford  C Shamshuddin     NaN
520  521    2015    Chennai  ...  RK Illingworth    VA Kulkarni     NaN

[5 rows x 18 columns]

In [34]:
cskwins=0
for i in CSKvsSRHmatches['winner']:
  if(i=='Chennai Super Kings'):
    cskwins=cskwins+1

In [37]:
CSKvsSRHmatches['id'].nunique()

12

In [35]:
cskwins #won 9 out of 12 matches

9