In [6]:
import pandas as pd
import numpy as np

In [7]:
df=pd.read_csv('deliveries.csv')
df.head()

   match_id  inning  ... dismissal_kind fielder
0         1       1  ...            NaN     NaN
1         1       1  ...            NaN     NaN
2         1       1  ...            NaN     NaN
3         1       1  ...            NaN     NaN
4         1       1  ...            NaN     NaN

[5 rows x 21 columns]

In [8]:
df['batting_team'].unique()

array(['Sunrisers Hyderabad', 'Royal Challengers Bangalore',
       'Mumbai Indians', 'Rising Pune Supergiant', 'Gujarat Lions',
       'Kolkata Knight Riders', 'Kings XI Punjab', 'Delhi Daredevils',
       'Chennai Super Kings', 'Rajasthan Royals', 'Deccan Chargers',
       'Kochi Tuskers Kerala', 'Pune Warriors', 'Rising Pune Supergiants',
       'Delhi Capitals'], dtype=object)

In [9]:
CSKvsDC=df[((df['batting_team']=='Chennai Super Kings') & (df['bowling_team']=='Delhi Capitals') | (df['bowling_team']=='Chennai Super Kings') & (df['batting_team']=='Delhi Capitals')) ]
CSKvsDC.head()

        match_id  inning  ... dismissal_kind fielder
165706     11141       1  ...            NaN     NaN
165707     11141       1  ...            NaN     NaN
165708     11141       1  ...            NaN     NaN
165709     11141       1  ...            NaN     NaN
165710     11141       1  ...            NaN     NaN

[5 rows x 21 columns]

In [10]:
CSKvsDC['match_id'].nunique()

3

Noballs analysis

In [48]:
noballs=0
for i in CSKvsDC['noball_runs']:
  if(i==1):
    noballs=noballs+1

In [49]:
noballs

3

CSK batting analysis

In [11]:
CSKbat=CSKvsDC[CSKvsDC['batting_team']=='Chennai Super Kings']
CSKbat.head()

        match_id  inning  ... dismissal_kind fielder
165831     11141       2  ...            NaN     NaN
165832     11141       2  ...            NaN     NaN
165833     11141       2  ...            NaN     NaN
165834     11141       2  ...            NaN     NaN
165835     11141       2  ...            NaN     NaN

[5 rows x 21 columns]

In [12]:
runsscored=0
for i in CSKbat['total_runs']:
  runsscored=runsscored+i

In [13]:
runsscored

505

In [14]:
runspermatch=runsscored/3
runspermatch

168.33333333333334

Different matches:

In [15]:
CSKbat['match_id'].unique()

array([11141, 11341, 11414])

In [26]:
match1=CSKbat[CSKbat['match_id']==11141]
match2=CSKbat[CSKbat['match_id']==11341]
match3=CSKbat[CSKbat['match_id']==11414]
runs1=0
runs2=0
runs3=0

In [27]:
k1=0
for i in match1['total_runs']:
  runs1=runs1+i
  k1=k1+1
  if(runs1>100):
    break

In [28]:
k1

61

In [29]:
k2=0
for i in match2['total_runs']:
  runs2=runs2+i
  k2=k2+1
  if(runs2>100):
    break

In [30]:
k2

90

In [31]:
k3=0
for i in match3['total_runs']:
  runs3=runs3+i
  k3=k3+1
  if(runs3>100):
    break

In [32]:
k3

72

wickets in over analysis

In [41]:
DCbat=CSKvsDC[CSKvsDC['batting_team']=='Delhi Capitals']
DCbat.head()

        match_id  inning  ... dismissal_kind fielder
165706     11141       1  ...            NaN     NaN
165707     11141       1  ...            NaN     NaN
165708     11141       1  ...            NaN     NaN
165709     11141       1  ...            NaN     NaN
165710     11141       1  ...            NaN     NaN

[5 rows x 21 columns]

In [42]:
dcmatch1=DCbat[DCbat['match_id']==11141]
dcmatch2=DCbat[DCbat['match_id']==11341]
dcmatch3=DCbat[DCbat['match_id']==11414]

In [43]:
overmatch1=dcmatch1[(dcmatch1['over']>=15) &(dcmatch1['over']<=20)]
overmatch2=dcmatch2[(dcmatch2['over']>=15) & (dcmatch2['over']<=20)]
overmatch3=dcmatch3[(dcmatch3['over']>=15) & (dcmatch3['over']<=20)]

In [44]:
wickets1=overmatch1['dismissal_kind'].count()
wickets2=overmatch2['dismissal_kind'].count()
wickets3=overmatch3['dismissal_kind'].count()

In [45]:
wickets3

4

In [46]:
wickets2

2

In [47]:
wickets1

4

Matches

In [50]:
matches=pd.read_csv('matches.csv')
matches.head()

   id  season       city  ...         umpire1        umpire2 umpire3
0   1    2017  Hyderabad  ...     AY Dandekar       NJ Llong     NaN
1   2    2017       Pune  ...  A Nand Kishore         S Ravi     NaN
2   3    2017     Rajkot  ...     Nitin Menon      CK Nandan     NaN
3   4    2017     Indore  ...    AK Chaudhary  C Shamshuddin     NaN
4   5    2017  Bangalore  ...             NaN            NaN     NaN

[5 rows x 18 columns]

In [51]:
DCvsCSKmatches=matches[((matches['team1']=='Chennai Super Kings') & (matches['team2']=='Delhi Capitals') | (matches['team2']=='Chennai Super Kings') & (matches['team1']=='Delhi Capitals')) ]
DCvsCSKmatches.head()

        id  season  ...         umpire2                  umpire3
700  11141    2019  ...     Nitin Menon            Anil Dandekar
745  11341    2019  ...     Nitin Menon                Ian Gould
754  11414    2019  ...  Bruce Oxenford  Chettithody Shamshuddin

[3 rows x 18 columns]