In [38]:
import pandas as pd
import numpy as np

In [39]:
df=pd.read_csv("deliveries.csv")

In [40]:
df.head()

   match_id  inning  ... dismissal_kind fielder
0         1       1  ...            NaN     NaN
1         1       1  ...            NaN     NaN
2         1       1  ...            NaN     NaN
3         1       1  ...            NaN     NaN
4         1       1  ...            NaN     NaN

[5 rows x 21 columns]

DCvsRR

In [41]:
df['batting_team'].unique()

array(['Sunrisers Hyderabad', 'Royal Challengers Bangalore',
       'Mumbai Indians', 'Rising Pune Supergiant', 'Gujarat Lions',
       'Kolkata Knight Riders', 'Kings XI Punjab', 'Delhi Daredevils',
       'Chennai Super Kings', 'Rajasthan Royals', 'Deccan Chargers',
       'Kochi Tuskers Kerala', 'Pune Warriors', 'Rising Pune Supergiants',
       'Delhi Capitals'], dtype=object)

In [43]:
DCvsRR=df[((df['batting_team']=='Delhi Capitals') & (df['bowling_team']=='Rajasthan Royals') | (df['bowling_team']=='Delhi Capitals') & (df['batting_team']=='Rajasthan Royals')) ]
DCvsRR.head()

        match_id  inning  ... dismissal_kind fielder
174209     11331       1  ...            NaN     NaN
174210     11331       1  ...            NaN     NaN
174211     11331       1  ...            NaN     NaN
174212     11331       1  ...            NaN     NaN
174213     11331       1  ...            NaN     NaN

[5 rows x 21 columns]

wides in dc vs rr matches

In [44]:
wideruns=0
for i in DCvsRR['wide_runs']:
  wideruns=wideruns+i

In [45]:
noofmatches=DCvsRR['match_id'].nunique()
noofmatches

2

In [46]:
wideruns

14

In [47]:
widepermatch=wideruns/noofmatches
widepermatch

7.0

Wickets in DC vs RR match

In [49]:
DCvsRR['player_dismissed'].count()

24

In [50]:
wicketspermatch=24/noofmatches
wicketspermatch

12.0

Steve smith

In [51]:
DCvsRR['batsman'].unique()

array(['AM Rahane', 'SPD Smith', 'BA Stokes', 'A Turner', 'STR Binny',
       'R Parag', 'P Shaw', 'S Dhawan', 'SS Iyer', 'RR Pant',
       'S Rutherford', 'C Ingram', 'L Livingstone', 'SV Samson',
       'M Lomror', 'S Gopal', 'K Gowtham', 'I Sodhi', 'VR Aaron',
       'AR Patel'], dtype=object)

In [52]:
smith=DCvsRR[DCvsRR['batsman']=='SPD Smith']
smith.head()

        match_id  inning  ... dismissal_kind fielder
174224     11331       1  ...            NaN     NaN
174226     11331       1  ...            NaN     NaN
174227     11331       1  ...            NaN     NaN
174228     11331       1  ...            NaN     NaN
174229     11331       1  ...            NaN     NaN

[5 rows x 21 columns]

In [62]:
smithruns=0
for i in smith['batsman_runs']:
  smithruns=smithruns+i

In [63]:
smithruns

51

In [64]:
smith['match_id'].nunique()

1

In [65]:
avg=51

Delhipowerplayscorevsdc

In [66]:
DC=DCvsRR[DCvsRR['batting_team']=='Delhi Capitals']
DC.head()

        match_id  inning  ... dismissal_kind fielder
174333     11331       2  ...            NaN     NaN
174334     11331       2  ...            NaN     NaN
174335     11331       2  ...            NaN     NaN
174336     11331       2  ...            NaN     NaN
174337     11331       2  ...            NaN     NaN

[5 rows x 21 columns]

In [67]:
DCpowerplay=DC[DC['over']<=6] #powerplay first 6 overs
DCpowerplay.head()

        match_id  inning  ... dismissal_kind fielder
174333     11331       2  ...            NaN     NaN
174334     11331       2  ...            NaN     NaN
174335     11331       2  ...            NaN     NaN
174336     11331       2  ...            NaN     NaN
174337     11331       2  ...            NaN     NaN

[5 rows x 21 columns]

In [68]:
dcruns=0
for i in DCpowerplay['total_runs']:
  dcruns=dcruns+i

In [69]:
DCpowerplay['match_id'].nunique()

2

In [70]:
dcruns/2

54.5

Matches

In [71]:
matches=pd.read_csv('matches.csv')
matches.head()

   id  season       city  ...         umpire1        umpire2 umpire3
0   1    2017  Hyderabad  ...     AY Dandekar       NJ Llong     NaN
1   2    2017       Pune  ...  A Nand Kishore         S Ravi     NaN
2   3    2017     Rajkot  ...     Nitin Menon      CK Nandan     NaN
3   4    2017     Indore  ...    AK Chaudhary  C Shamshuddin     NaN
4   5    2017  Bangalore  ...             NaN            NaN     NaN

[5 rows x 18 columns]

In [72]:
DCvsRRmatches=matches[((matches['team1']=='Delhi Capitals') & (matches['team2']=='Rajasthan Royals') | (matches['team2']=='Delhi Capitals') & (matches['team1']=='Rajasthan Royals')) ]
DCvsRRmatches.head() #DC have won both of the previous encounters

        id  season    city  ...    umpire1        umpire2         umpire3
735  11331    2019  Jaipur  ...     S Ravi  Nanda Kishore  Yeshwant Barde
748  11344    2019   Delhi  ...  Ian Gould  Anil Dandekar     Nitin Menon

[2 rows x 18 columns]