In [30]:
import pandas as pd
import numpy as np

In [31]:
df=pd.read_csv("deliveries.csv")

In [32]:
df.head()

   match_id  inning  ... dismissal_kind fielder
0         1       1  ...            NaN     NaN
1         1       1  ...            NaN     NaN
2         1       1  ...            NaN     NaN
3         1       1  ...            NaN     NaN
4         1       1  ...            NaN     NaN

[5 rows x 21 columns]

In [33]:
df['batting_team'].unique() #Numberofuniqueteams

array(['Sunrisers Hyderabad', 'Royal Challengers Bangalore',
       'Mumbai Indians', 'Rising Pune Supergiant', 'Gujarat Lions',
       'Kolkata Knight Riders', 'Kings XI Punjab', 'Delhi Daredevils',
       'Chennai Super Kings', 'Rajasthan Royals', 'Deccan Chargers',
       'Kochi Tuskers Kerala', 'Pune Warriors', 'Rising Pune Supergiants',
       'Delhi Capitals'], dtype=object)

KKR matches

Considering the matches where dinesh arthik batted for kkr

In [34]:
kkrmatches=df[df['batting_team']=='Kolkata Knight Riders']
kkrmatches.head()

     match_id  inning  ... dismissal_kind fielder
617         3       2  ...            NaN     NaN
618         3       2  ...            NaN     NaN
619         3       2  ...            NaN     NaN
620         3       2  ...            NaN     NaN
621         3       2  ...            NaN     NaN

[5 rows x 21 columns]

In [35]:
kkrmatches['batsman'].unique() #Batsman played for kkr

array(['G Gambhir', 'CA Lynn', 'RV Uthappa', 'MK Pandey', 'YK Pathan',
       'SA Yadav', 'CR Woakes', 'SP Narine', 'C de Grandhomme',
       'Shakib Al Hasan', 'NM Coulter-Nile', 'Kuldeep Yadav', 'UT Yadav',
       'DM Bravo', 'SP Jackson', 'TA Boult', 'IR Jaggi', 'PP Chawla',
       'AS Rajpoot', 'SC Ganguly', 'BB McCullum', 'RT Ponting',
       'DJ Hussey', 'Mohammad Hafeez', 'WP Saha', 'LR Shukla',
       'AB Agarkar', 'M Kartik', 'I Sharma', 'DB Das', 'Salman Butt',
       'BJ Hodge', 'Umar Gul', 'AB Dinda', 'A Chopra', 'T Taibu',
       'Iqbal Abdulla', 'Shoaib Akhtar', 'CH Gayle', 'MC Henriques',
       'SB Bangar', 'Yashpal Singh', 'AN Ghosh', 'BAW Mendis',
       'MN van Wyk', 'AD Mathews', 'Mashrafe Mortaza', 'SS Shaikh',
       'MK Tiwary', 'CA Pujara', 'OA Shah', 'RS Gavaskar', 'SE Bond',
       'Mandeep Singh', 'CK Langeveldt', 'MS Bisla', 'JH Kallis',
       'EJG Morgan', 'R Bhatia', 'B Lee', 'L Balaji', 'BJ Haddin',
       'SP Goswami', 'RN ten Doeschate', 'MV Boucher', 'Mohammed Shami',
       'R McLaren', 'PJ Sangwan', 'SMSM Senanayake', 'S Narwal',
       'P Dogra', 'R Vinay Kumar', 'M Morkel', 'AD Russell', 'J Botha',
       'PJ Cummins', 'GB Hogg', 'Azhar Mahmood', 'C Munro', 'R Sathish',
       'JO Holder', 'N Rana', 'KD Karthik', 'R Singh', 'T Curran',
       'S Gill', 'S Mavi', 'MG Johnson', 'P Krishna', 'J Searles',
       'N Naik', 'H Gurney', 'J Denly', 'CR Brathwaite', 'P Raj',
       'KC Cariappa'], dtype=object)

In [36]:
dineshkarthik=kkrmatches[kkrmatches['batsman']=='KD Karthik'] #delevieries faced by dnesh karthik
dineshkarthik.head()

        match_id  inning  ... dismissal_kind fielder
151113      7896       2  ...            NaN     NaN
151114      7896       2  ...            NaN     NaN
151115      7896       2  ...            NaN     NaN
151117      7896       2  ...            NaN     NaN
151119      7896       2  ...            NaN     NaN

[5 rows x 21 columns]

Number of matches played by karthik

In [37]:
dineshkarthik['match_id'].nunique() #Matches in which dk batted

28

Runs scored by Karthik

In [38]:
runs=0
for i in dineshkarthik['batsman_runs']:
  runs=runs+i

In [39]:
runs

785

In [41]:
runspermatch=785/28
runspermatch

28.035714285714285

Consideringhisstatsagainstrcb

In [42]:
kkrvsrcb=kkrmatches[kkrmatches['bowling_team']=='Royal Challengers Bangalore']
kkrvsrcb.head()

      match_id  inning  ... dismissal_kind fielder
6254        27       1  ...            NaN     NaN
6255        27       1  ...            NaN     NaN
6256        27       1  ...            NaN     NaN
6257        27       1  ...            NaN     NaN
6258        27       1  ...            NaN     NaN

[5 rows x 21 columns]

In [43]:
dk=kkrvsrcb[kkrvsrcb['batsman']=='KD Karthik']
dk.head()

        match_id  inning  ... dismissal_kind fielder
151113      7896       2  ...            NaN     NaN
151114      7896       2  ...            NaN     NaN
151115      7896       2  ...            NaN     NaN
151117      7896       2  ...            NaN     NaN
151119      7896       2  ...            NaN     NaN

[5 rows x 21 columns]

In [44]:
dk['match_id'].nunique() #matches in which dk batted

3

In [45]:
runsagainstrcb=0
for i in dk['batsman_runs']:
  runsagainstrcb=runsagainstrcb+i

In [46]:
runsagainstrcb

82

In [47]:
avgagainstrcb=runsagainstrcb/3
avgagainstrcb

27.333333333333332

No ball analysis

VIRAT KOHLI ANALYSIS

In [48]:
rcbmatches=df[df['batting_team']=='Royal Challengers Bangalore']
rcbmatches.head()

     match_id  inning  ... dismissal_kind fielder
125         1       2  ...            NaN     NaN
126         1       2  ...            NaN     NaN
127         1       2  ...            NaN     NaN
128         1       2  ...            NaN     NaN
129         1       2  ...            NaN     NaN

[5 rows x 21 columns]

In [49]:
rcbmatches['batsman'].unique() #batsman batted for rcb

array(['CH Gayle', 'Mandeep Singh', 'TM Head', 'KM Jadhav', 'SR Watson',
       'Sachin Baby', 'STR Binny', 'S Aravind', 'YS Chahal', 'TS Mills',
       'A Choudhary', 'Vishnu Vinod', 'Iqbal Abdulla', 'P Negi',
       'AB de Villiers', 'V Kohli', 'AF Milne', 'S Badree', 'R Dravid',
       'W Jaffer', 'JH Kallis', 'CL White', 'MV Boucher', 'B Akhil',
       'AA Noffke', 'P Kumar', 'Z Khan', 'SB Joshi', 'S Chanderpaul',
       'LRPL Taylor', 'R Vinay Kumar', 'B Chipli', 'DW Steyn',
       'Misbah-ul-Haq', 'DT Patil', 'A Kumble', 'J Arunkumar',
       'SP Goswami', 'Abdur Razzak', 'JD Ryder', 'KP Pietersen',
       'RV Uthappa', 'R Bishnoi', 'KV Sharma', 'Pankaj Singh',
       'RE van der Merwe', 'MK Pandey', 'KP Appanna', 'D du Preez',
       'EJG Morgan', 'A Mithun', 'S Sriram', 'MA Agarwal', 'TM Dilshan',
       'SS Tiwary', 'AUK Pathan', 'CA Pujara', 'JJ van der Wath',
       'R Ninan', 'DL Vettori', 'J Syed Mohammad', 'M Kaif',
       'LA Pomersbach', 'KB Arun Karthik', 'CK Langeveldt', 'AB McDonald',
       'HV Patel', 'RR Bhatkal', 'M Muralitharan', 'P Parameswaran',
       'DT Christian', 'KK Nair', 'MC Henriques', 'M Kartik',
       'JD Unadkat', 'R Rampaul', 'KL Rahul', 'A Mukund', 'PA Patel',
       'NJ Maddinson', 'Yuvraj Singh', 'YV Takawale', 'JA Morkel',
       'S Rana', 'MA Starc', 'AB Dinda', 'VR Aaron', 'RR Rossouw',
       'VH Zol', 'AN Ahmed', 'KD Karthik', 'DJG Sammy', 'SA Abbott',
       'MS Bisla', 'D Wiese', 'SN Khan', 'KW Richardson', 'Parvez Rasool',
       'CJ Jordan', 'BB McCullum', 'Q de Kock', 'CR Woakes',
       'Washington Sundar', 'CJ Anderson', 'UT Yadav', 'Mohammed Siraj',
       'M Vohra', 'C de Grandhomme', 'TG Southee', 'M Ashwin', 'M Ali',
       'S Hetmyer', 'S Dube', 'N Saini', 'P R Barman', 'MP Stoinis',
       'AD Nath', 'H Klaasen', 'Gurkeerat Singh'], dtype=object)

In [50]:
ViratKohli=rcbmatches[rcbmatches['batsman']=='V Kohli'] #delevieries faced by virat kohli
ViratKohli.head()

      match_id  inning  ... dismissal_kind fielder
2590        12       1  ...            NaN     NaN
2591        12       1  ...            NaN     NaN
2593        12       1  ...            NaN     NaN
2594        12       1  ...            NaN     NaN
2597        12       1  ...            NaN     NaN

[5 rows x 21 columns]

In [51]:
ViratKohli['match_id'].nunique() #Unique matches by virat kohli

169

In [53]:
numberofboundaries=0
for i in ViratKohli['batsman_runs']:
  if(i==4):
    numberofboundaries=numberofboundaries+1

In [55]:
boundariespermatch=numberofboundaries/169
boundariespermatch

2.8520710059171597

Against KKR

In [56]:
vkvskkr=ViratKohli[ViratKohli['bowling_team']=='Kolkata Knight Riders']
vkvskkr.head()

       match_id  inning  ... dismissal_kind    fielder
6378         27       2  ...         caught  MK Pandey
10408        45       1  ...            NaN        NaN
10409        45       1  ...            NaN        NaN
10410        45       1  ...            NaN        NaN
10411        45       1  ...            NaN        NaN

[5 rows x 21 columns]

In [57]:
vkvskkr['match_id'].nunique()

21

In [58]:
boundaries=0
for i in vkvskkr['batsman_runs']:
  if(i==4):
    boundaries=boundaries+1

In [59]:
boundaries

58

In [60]:
boundariespermatch=boundaries/21
boundariespermatch

2.761904761904762

Kohli recent performance against KKR

In [61]:
matches=pd.read_csv('matches.csv')
matches.head()

   id  season       city  ...         umpire1        umpire2 umpire3
0   1    2017  Hyderabad  ...     AY Dandekar       NJ Llong     NaN
1   2    2017       Pune  ...  A Nand Kishore         S Ravi     NaN
2   3    2017     Rajkot  ...     Nitin Menon      CK Nandan     NaN
3   4    2017     Indore  ...    AK Chaudhary  C Shamshuddin     NaN
4   5    2017  Bangalore  ...             NaN            NaN     NaN

[5 rows x 18 columns]

In [63]:
kkrvsrcb=matches[((matches['team1']=='Royal Challengers Bangalore') & (matches['team2']=='Kolkata Knight Riders') | (matches['team1']=='Kolkata Knight Riders') & (matches['team2']=='Royal Challengers Bangalore')) ]
kkrvsrcb.head()

      id  season       city  ...      umpire1         umpire2 umpire3
26    27    2017    Kolkata  ...  CB Gaffaney       CK Nandan     NaN
44    45    2017  Bangalore  ...  AY Dandekar   C Shamshuddin     NaN
59    60    2008  Bangalore  ...    Asad Rauf     RE Koertzen     NaN
87    88    2008    Kolkata  ...    Asad Rauf       IL Howell     NaN
133  134    2009     Durban  ...    MR Benson  TH Wijewardene     NaN

[5 rows x 18 columns]

Considering the lat 2 season

In [66]:
kkrvsrcblatest=kkrvsrcb[kkrvsrcb['season']>=2017 ]
kkrvsrcblatest.head()

        id  season  ...         umpire2                umpire3
26      27    2017  ...       CK Nandan                    NaN
44      45    2017  ...   C Shamshuddin                    NaN
638   7896    2018  ...    A.D Deshmukh                 S Ravi
664   7922    2018  ...  Anil Chaudhary  Virender Kumar Sharma
712  11153    2019  ...  Chris Gaffaney               O Nandan

[5 rows x 18 columns]

In [69]:
kkrvsrcblatest['id'].nunique()

6

In [70]:
kkrvsrcblatest.tail()

        id  season  ...         umpire2                umpire3
44      45    2017  ...   C Shamshuddin                    NaN
638   7896    2018  ...    A.D Deshmukh                 S Ravi
664   7922    2018  ...  Anil Chaudhary  Virender Kumar Sharma
712  11153    2019  ...  Chris Gaffaney               O Nandan
730  11326    2019  ...     Nitin Menon          Anil Dandekar

[5 rows x 18 columns]