In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv("deliveries.csv")

In [3]:
df.head()

   match_id  inning  ... dismissal_kind fielder
0         1       1  ...            NaN     NaN
1         1       1  ...            NaN     NaN
2         1       1  ...            NaN     NaN
3         1       1  ...            NaN     NaN
4         1       1  ...            NaN     NaN

[5 rows x 21 columns]

In [4]:
df['batting_team'].unique()

array(['Sunrisers Hyderabad', 'Royal Challengers Bangalore',
       'Mumbai Indians', 'Rising Pune Supergiant', 'Gujarat Lions',
       'Kolkata Knight Riders', 'Kings XI Punjab', 'Delhi Daredevils',
       'Chennai Super Kings', 'Rajasthan Royals', 'Deccan Chargers',
       'Kochi Tuskers Kerala', 'Pune Warriors', 'Rising Pune Supergiants',
       'Delhi Capitals'], dtype=object)

In [16]:
df1=df[(((df['batting_team']=='Mumbai Indians') & (df['bowling_team']=='Delhi Capitals')) | (df['batting_team']=='Delhi Capitals')&(df['bowling_team']=='Mumbai Indians'))]

In [17]:
df1.head()

        match_id  inning  ... dismissal_kind fielder
165208     11139       1  ...            NaN     NaN
165209     11139       1  ...            NaN     NaN
165210     11139       1  ...            NaN     NaN
165211     11139       1  ...            NaN     NaN
165212     11139       1  ...            NaN     NaN

[5 rows x 21 columns]

In [28]:
df1['batsman'].unique()

array(['P Shaw', 'S Dhawan', 'SS Iyer', 'C Ingram', 'RR Pant', 'K Paul',
       'AR Patel', 'R Tewatia', 'RG Sharma', 'Q de Kock', 'AS Yadav',
       'KA Pollard', 'Yuvraj Singh', 'HH Pandya', 'KH Pandya',
       'BCJ Cutting', 'MJ McClenaghan', 'R Salam', 'C Munro', 'CH Morris',
       'A Mishra', 'K Rabada'], dtype=object)

In [61]:
df1['bowler'].unique()

array(['R Salam', 'MJ McClenaghan', 'JJ Bumrah', 'HH Pandya', 'KH Pandya',
       'BCJ Cutting', 'TA Boult', 'I Sharma', 'K Rabada', 'R Tewatia',
       'K Paul', 'AR Patel', 'CH Morris', 'A Mishra', 'RD Chahar',
       'SL Malinga', 'J Yadav'], dtype=object)

In [62]:
rabada=df1[df1['bowler']=='K Rabada']

In [63]:
rabada.head()

        match_id  inning  ... dismissal_kind fielder
165356     11139       2  ...            NaN     NaN
165357     11139       2  ...            NaN     NaN
165358     11139       2  ...            NaN     NaN
165359     11139       2  ...            NaN     NaN
165360     11139       2  ...            NaN     NaN

[5 rows x 21 columns]

In [70]:
totalballs=0
for i in rabada['match_id']:
  totalballs=totalballs+1

In [71]:
rabadanotwickets=rabada[rabada['player_dismissed'].isnull()]

In [72]:
rabadanotwickets.head()

        match_id  inning  ... dismissal_kind fielder
165356     11139       2  ...            NaN     NaN
165357     11139       2  ...            NaN     NaN
165358     11139       2  ...            NaN     NaN
165359     11139       2  ...            NaN     NaN
165360     11139       2  ...            NaN     NaN

[5 rows x 21 columns]

In [73]:
notwickets=0
for i in rabadanotwickets['match_id']:
  notwickets=notwickets+1

In [74]:
wickets=totalballs-notwickets

In [75]:
wickets

4

In [30]:
rohitsharma=df1[df1['batsman']=='RG Sharma']

In [45]:
match1=rohitsharma[rohitsharma['match_id']==11139]
match2=rohitsharma[rohitsharma['match_id']==11325]

In [42]:
match1.head()

        match_id  inning  ... dismissal_kind fielder
165332     11139       2  ...            NaN     NaN
165334     11139       2  ...            NaN     NaN
165335     11139       2  ...            NaN     NaN
165336     11139       2  ...            NaN     NaN
165337     11139       2  ...            NaN     NaN

[5 rows x 21 columns]

In [46]:
runsscoredbyrohitsharma1=0
for i in match1['batsman_runs']:
   runsscoredbyrohitsharma1=runsscoredbyrohitsharma1+i

In [47]:
runsscoredbyrohitsharma2=0
for i in match2['batsman_runs']:
   runsscoredbyrohitsharma2=runsscoredbyrohitsharma2+i

In [59]:
runsscoredbyrohitsharma1

14

In [60]:
runsscoredbyrohitsharma2

31

In [18]:
sum_wide_runs=0
matches=0
for i in df1['wide_runs']:
  sum_wide_runs=sum_wide_runs+i
  matches=matches+1

In [19]:
sum_wide_runs

15

In [50]:
dfmatches=pd.read_csv('matches.csv')

In [51]:
dfmatches.head()

   id  season       city  ...         umpire1        umpire2 umpire3
0   1    2017  Hyderabad  ...     AY Dandekar       NJ Llong     NaN
1   2    2017       Pune  ...  A Nand Kishore         S Ravi     NaN
2   3    2017     Rajkot  ...     Nitin Menon      CK Nandan     NaN
3   4    2017     Indore  ...    AK Chaudhary  C Shamshuddin     NaN
4   5    2017  Bangalore  ...             NaN            NaN     NaN

[5 rows x 18 columns]

In [52]:
Delhimatches=dfmatches[(dfmatches['team1']=='Delhi Capitals')|(dfmatches['team2']=='Delhi Capitals')]

In [53]:
Delhimatches.head()

        id  season  ...               umpire2          umpire3
698  11139    2019  ...        Yeshwant Barde         O Nandan
700  11141    2019  ...           Nitin Menon    Anil Dandekar
705  11146    2019  ...           Nitin Menon   Marais Erasmus
708  11149    2019  ...        Chris Gaffaney  Vineet Kulkarni
711  11152    2019  ...  KN Anantapadmanabhan           S Ravi

[5 rows x 18 columns]

In [24]:
dfmatches=dfmatches[(((dfmatches['team1']=='Mumbai Indians') & (dfmatches['team2']=='Delhi Capitals')) | (dfmatches['team1']=='Delhi Capitals')&(dfmatches['team2']=='Mumbai Indians'))]

In [25]:
dfmatches.head()

        id  season    city  ...      umpire1         umpire2         umpire3
698  11139    2019  Mumbai  ...       S Ravi  Yeshwant Barde        O Nandan
729  11325    2019   Delhi  ...  Nigel Llong  Bruce Oxenford  Anil Chaudhary

[2 rows x 18 columns]

In [26]:
widerunspermatch=sum_wide_runs/2

In [27]:
widerunspermatch

7.5