In [2]:
import pandas as pd
import numpy as np

In [3]:
df=pd.read_csv("deliveries.csv")

In [4]:
df.head()

   match_id  inning  ... dismissal_kind fielder
0         1       1  ...            NaN     NaN
1         1       1  ...            NaN     NaN
2         1       1  ...            NaN     NaN
3         1       1  ...            NaN     NaN
4         1       1  ...            NaN     NaN

[5 rows x 21 columns]

In [5]:
df['batting_team'].unique()

array(['Sunrisers Hyderabad', 'Royal Challengers Bangalore',
       'Mumbai Indians', 'Rising Pune Supergiant', 'Gujarat Lions',
       'Kolkata Knight Riders', 'Kings XI Punjab', 'Delhi Daredevils',
       'Chennai Super Kings', 'Rajasthan Royals', 'Deccan Chargers',
       'Kochi Tuskers Kerala', 'Pune Warriors', 'Rising Pune Supergiants',
       'Delhi Capitals'], dtype=object)

RCB  batting Analysis

In [6]:
RCBbat=df[df['batting_team']=='Royal Challengers Bangalore']
RCBbat.head()

     match_id  inning  ... dismissal_kind fielder
125         1       2  ...            NaN     NaN
126         1       2  ...            NaN     NaN
127         1       2  ...            NaN     NaN
128         1       2  ...            NaN     NaN
129         1       2  ...            NaN     NaN

[5 rows x 21 columns]

Number of sixes

In [7]:
noofsixes=0
for i in RCBbat['batsman_runs']:
  if(i==6):
    noofsixes=noofsixes+1

In [9]:
RCBbat['match_id'].nunique()

180

In [10]:
sixespermatch=noofsixes/180
sixespermatch

6.288888888888889

Ab and kohli partnership

In [11]:
RCBbat['batsman'].unique()

array(['CH Gayle', 'Mandeep Singh', 'TM Head', 'KM Jadhav', 'SR Watson',
       'Sachin Baby', 'STR Binny', 'S Aravind', 'YS Chahal', 'TS Mills',
       'A Choudhary', 'Vishnu Vinod', 'Iqbal Abdulla', 'P Negi',
       'AB de Villiers', 'V Kohli', 'AF Milne', 'S Badree', 'R Dravid',
       'W Jaffer', 'JH Kallis', 'CL White', 'MV Boucher', 'B Akhil',
       'AA Noffke', 'P Kumar', 'Z Khan', 'SB Joshi', 'S Chanderpaul',
       'LRPL Taylor', 'R Vinay Kumar', 'B Chipli', 'DW Steyn',
       'Misbah-ul-Haq', 'DT Patil', 'A Kumble', 'J Arunkumar',
       'SP Goswami', 'Abdur Razzak', 'JD Ryder', 'KP Pietersen',
       'RV Uthappa', 'R Bishnoi', 'KV Sharma', 'Pankaj Singh',
       'RE van der Merwe', 'MK Pandey', 'KP Appanna', 'D du Preez',
       'EJG Morgan', 'A Mithun', 'S Sriram', 'MA Agarwal', 'TM Dilshan',
       'SS Tiwary', 'AUK Pathan', 'CA Pujara', 'JJ van der Wath',
       'R Ninan', 'DL Vettori', 'J Syed Mohammad', 'M Kaif',
       'LA Pomersbach', 'KB Arun Karthik', 'CK Langeveldt', 'AB McDonald',
       'HV Patel', 'RR Bhatkal', 'M Muralitharan', 'P Parameswaran',
       'DT Christian', 'KK Nair', 'MC Henriques', 'M Kartik',
       'JD Unadkat', 'R Rampaul', 'KL Rahul', 'A Mukund', 'PA Patel',
       'NJ Maddinson', 'Yuvraj Singh', 'YV Takawale', 'JA Morkel',
       'S Rana', 'MA Starc', 'AB Dinda', 'VR Aaron', 'RR Rossouw',
       'VH Zol', 'AN Ahmed', 'KD Karthik', 'DJG Sammy', 'SA Abbott',
       'MS Bisla', 'D Wiese', 'SN Khan', 'KW Richardson', 'Parvez Rasool',
       'CJ Jordan', 'BB McCullum', 'Q de Kock', 'CR Woakes',
       'Washington Sundar', 'CJ Anderson', 'UT Yadav', 'Mohammed Siraj',
       'M Vohra', 'C de Grandhomme', 'TG Southee', 'M Ashwin', 'M Ali',
       'S Hetmyer', 'S Dube', 'N Saini', 'P R Barman', 'MP Stoinis',
       'AD Nath', 'H Klaasen', 'Gurkeerat Singh'], dtype=object)

In [16]:
ABKohli=RCBbat[((RCBbat['non_striker']=='V Kohli') & (RCBbat['batsman']=='AB de Villiers')| (RCBbat['non_striker']=='AB de Villiers') & (RCBbat['batsman']=='V Kohli'))]
ABKohli.head()

      match_id  inning  ... dismissal_kind fielder
2647        12       1  ...            NaN     NaN
2648        12       1  ...            NaN     NaN
2649        12       1  ...            NaN     NaN
2650        12       1  ...            NaN     NaN
2651        12       1  ...            NaN     NaN

[5 rows x 21 columns]

In [17]:
abviratpartnershipruns=0
for i in ABKohli['total_runs']:
  abviratpartnershipruns=abviratpartnershipruns+i

In [18]:
abviratpartnershipruns

2860

In [19]:
average=abviratpartnershipruns/ABKohli['match_id'].nunique()
average

42.05882352941177

RCBbowlinganalysis

In [20]:
RCBbowl=df[df['bowling_team']=='Royal Challengers Bangalore']
RCBbowl.head()

   match_id  inning  ... dismissal_kind fielder
0         1       1  ...            NaN     NaN
1         1       1  ...            NaN     NaN
2         1       1  ...            NaN     NaN
3         1       1  ...            NaN     NaN
4         1       1  ...            NaN     NaN

[5 rows x 21 columns]

Noballs

In [21]:
rcbnoballs=0
for i in RCBbowl['noball_runs']:
  if(i!=0):
    rcbnoballs=rcbnoballs+1

In [22]:
rcbnoballspermatch=rcbnoballs/RCBbowl['match_id'].nunique()
rcbnoballspermatch

0.5083798882681564

KXIP batting analysis

In [23]:
KXIPbat=df[df['batting_team']=='Kings XI Punjab']
KXIPbat.head()

     match_id  inning     batting_team  ... player_dismissed  dismissal_kind  fielder
838         4       2  Kings XI Punjab  ...              NaN             NaN      NaN
839         4       2  Kings XI Punjab  ...              NaN             NaN      NaN
840         4       2  Kings XI Punjab  ...              NaN             NaN      NaN
841         4       2  Kings XI Punjab  ...              NaN             NaN      NaN
842         4       2  Kings XI Punjab  ...              NaN             NaN      NaN

[5 rows x 21 columns]

Sixes analysis

In [24]:
KXIPsixes=0
for i in KXIPbat['batsman_runs']:
  if(i==6):
    KXIPsixes=KXIPsixes+1

In [25]:
KXIPsixes

976

In [26]:
KXIPsixespermatch=KXIPsixes/KXIPbat['match_id'].nunique()
KXIPsixespermatch

5.545454545454546

KXIPwickets

In [27]:
kxipwickets=KXIPbat['player_dismissed'].count()
kxipwickets

1081

In [28]:
kxipwicketspermatch=kxipwickets/KXIPbat['match_id'].nunique()
kxipwicketspermatch

6.142045454545454

KXIPbowlinganalysis

In [29]:
KXIPbowl=df[df['bowling_team']=='Kings XI Punjab']
KXIPbowl.head()

     match_id  inning  ... dismissal_kind fielder
713         4       1  ...            NaN     NaN
714         4       1  ...            NaN     NaN
715         4       1  ...            NaN     NaN
716         4       1  ...            NaN     NaN
717         4       1  ...         bowled     NaN

[5 rows x 21 columns]

In [33]:
kxipnoballs=0
for i in KXIPbowl['noball_runs']:
  if(i!=0):
    kxipnoballs=kxipnoballs+1

In [36]:
kxipnoballspermatch=kxipnoballs/KXIPbowl['match_id'].nunique()
kxipnoballspermatch

0.5454545454545454

Teamclashanalysis

In [37]:
RCBvsKXIP=df[((df['batting_team']=='Kings XI Punjab') & (df['bowling_team']=='Royal Challengers Bangalore') | (df['bowling_team']=='Kings XI Punjab') & (df['batting_team']=='Royal Challengers Bangalore')) ]
RCBvsKXIP.head()

      match_id  inning  ... dismissal_kind fielder
1678         8       1  ...            NaN     NaN
1679         8       1  ...            NaN     NaN
1680         8       1  ...            NaN     NaN
1681         8       1  ...            NaN     NaN
1682         8       1  ...            NaN     NaN

[5 rows x 21 columns]

Sixesanalysis

In [38]:
totalsixes=0
for i in RCBvsKXIP['batsman_runs']:
  if(i==6):
    totalsixes=totalsixes+1
totalsixes

289

In [40]:
totalsixespermatch=totalsixes/RCBvsKXIP['match_id'].nunique()
totalsixespermatch

12.041666666666666

Noballsanalysis

In [41]:
totalnoballs=0
for i in RCBvsKXIP['noball_runs']:
  if(i!=0):
    totalnoballs=totalnoballs+1
totalnoballs

24

In [43]:
totalnoballspermatch=totalnoballs/RCBvsKXIP['match_id'].nunique()
totalnoballspermatch

1.0

KXIPbattingandRCBbowling

In [44]:
kxipbattingrcbbowling=df[(df['batting_team']=='Kings XI Punjab') & (df['bowling_team']=='Royal Challengers Bangalore')]
kxipbattingrcbbowling.head()

      match_id  inning     batting_team  ... player_dismissed  dismissal_kind  fielder
1801         8       2  Kings XI Punjab  ...              NaN             NaN      NaN
1802         8       2  Kings XI Punjab  ...              NaN             NaN      NaN
1803         8       2  Kings XI Punjab  ...              NaN             NaN      NaN
1804         8       2  Kings XI Punjab  ...              NaN             NaN      NaN
1805         8       2  Kings XI Punjab  ...              NaN             NaN      NaN

[5 rows x 21 columns]

In [46]:
wickets=kxipbattingrcbbowling['player_dismissed'].count()

In [47]:
wicketspermatch=wickets/kxipbattingrcbbowling['match_id'].nunique()
wicketspermatch

5.625

Matches

In [48]:
matches=pd.read_csv('matches.csv')
matches.head()

   id  season       city  ...         umpire1        umpire2 umpire3
0   1    2017  Hyderabad  ...     AY Dandekar       NJ Llong     NaN
1   2    2017       Pune  ...  A Nand Kishore         S Ravi     NaN
2   3    2017     Rajkot  ...     Nitin Menon      CK Nandan     NaN
3   4    2017     Indore  ...    AK Chaudhary  C Shamshuddin     NaN
4   5    2017  Bangalore  ...             NaN            NaN     NaN

[5 rows x 18 columns]

In [51]:
RCBvsKXIPmatches=matches[((matches['team1']=='Royal Challengers Bangalore') & (matches['team2']=='Kings XI Punjab') | (matches['team2']=='Royal Challengers Bangalore') & (matches['team1']=='Kings XI Punjab')) ]
RCBvsKXIPmatches.head()

      id  season        city  ...       umpire1         umpire2 umpire3
7      8    2017      Indore  ...  AK Chaudhary   C Shamshuddin     NaN
41    42    2017   Bangalore  ...   CB Gaffaney   C Shamshuddin     NaN
83    84    2008   Bangalore  ...      SJ Davis     BR Doctrove     NaN
93    94    2008  Chandigarh  ...   BR Doctrove       I Shivram     NaN
126  127    2009      Durban  ...   BR Doctrove  TH Wijewardene     NaN

[5 rows x 18 columns]

In [55]:
kxipwinner=0
for i in RCBvsKXIPmatches['winner']:
  if(i=='Kings XI Punjab'):
    kxipwinner=kxipwinner+1
kxipwinner

12

In [57]:
Totalmatches=RCBvsKXIPmatches['id'].nunique()
Totalmatches

24